<launch>

  <arg name="map_arg" default="false"/>
  <arg name="map_file"       default="$(find jhr_navigation)/maps/rtabmap_map.yaml"/>
  

    <group if="$(arg map_arg)">
        <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
            <remap from="map" to="saved_map"/>
        </node>
    </group>
    
    <arg if="$(arg map_arg)" name="map_type"  default="/saved_map"/>
    <arg unless="$(arg map_arg)" name="map_type"  default="/rtabmap/grid_map"/>


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <!--配置代价地图的共有参数-->
    <rosparam file="$(find jhr_navigation)/config/JHRobot/costmap_common_params2.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jhr_navigation)/config/JHRobot/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <!--配置局部代价地图和全局代价地图-->
    <rosparam file="$(find jhr_navigation)/config/JHRobot/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find jhr_navigation)/config/JHRobot/global_costmap_params.yaml" command="load" />
    <!--配置movebase框架参数-->
    <rosparam file="$(find jhr_navigation)/config/JHRobot/move_base_params.yaml" command="load" />
    <!--配置导航插件参数-->
    <rosparam file="$(find jhr_navigation)/config/JHRobot/dwa_local_planner_params.yaml" command="load" /> 

    <!--￥ 是否使用线性速度优化-->
    <remap from="cmd_vel" to="/cmd_vel_movebase"/>
    <!-- <remap from="cmd_vel" to="/cmd_vel"/> -->

    <!--$ 使用轮式里程机-->
    <remap from="odom" to="/wheel_odom"/>
    <param name="frame_id" value="base_footprint" />
    
    <!--￥ 使用激光里程机-->
    <!-- <remap from="odom"     to="/rtabmap_odom"/> -->
    <!-- <param name="frame_id" value="rtabmap_odom"/> -->

    <remap from="scan" to="/scan"/>
    <remap from="map"  to="$(arg map_type)"/>
    
  </node>
  
</launch>
